.searchForm {
    width: 872px;
    height: 543px;
    padding: 29px 44px;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    background: var(--main-white);
    border-radius: 10px;
    margin-bottom: 64px;
}

.searchFormWrapper {
    display: flex;
}

.inputsWrapper {
    display: flex;
    flex-direction: column;
    margin-right: 11px;
}

.searchLabel {
    font-family: Inter;
    font-size: 18px;
    line-height: 22px;
    color: var(--main-black);
    margin-bottom: 20px;
}

.searchInput {
    background: var(--main-white);
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    padding: 13px 15px;
    width: 242px;
    outline: none;
}

.searchInput:invalid {
    border-color: red;
}

.ant-select-selector {
    width: 242px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    text-align: center;
    color: #949494;
}

.searchInput::placeholder {
    text-align: center;
    color: #949494;
    opacity: .4;
}

.numberInput::-webkit-inner-spin-button,
.numberInput::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bottomFormWrapper {
    display: flex;
}

.searchBtnWrapper {
    margin-left: 105px;
    margin-top: 40px;
}

.searchFormBtn {
    background: var(--blue);
    border: none;
    border-radius: 10px;
    color: var(--main-white);
    font-family: Inter;
    font-size: 22px;
    line-height: 27px;
    box-sizing: border-box;
    padding: 16px 15px;
    text-align: center;
    width: 305px;
    cursor: pointer;
    margin-bottom: 10px;
}

.searchBtnWrapper > p {
    font-family: Inter;
    font-size: 14px;
    line-height: 17px;
    color: #949494;
    margin: 0;
}

.searchFormBtn:disabled {
    opacity: .5;
}

.errorMessage {
    color: red;
    margin: 2px 0 0 15px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

@media (max-width: 992px) {
    .searchForm {
        margin-bottom: 22px;
    }
}

@media (max-width: 850px) {
    .searchForm {
        height: fit-content;
        width: fit-content;
    }
    .bottomFormWrapper {
        flex-direction: column;
    }
    .searchBtnWrapper {
        margin-left: 0;
    }
    .searchInput {
        width: 335px;
    }
    .ant-select-selector {
        width: 335px;
    }
}

@media (max-width: 768px) {
    .searchForm {
        padding: 19px 15px;
    }
}

@media (max-width: 480px) {
    .searchForm {
        padding: 10px;
    }
}